extends layout

block content
	h2
		b 问卷结果
	ul
		li
			dl
				dt 1.多选框样式
				dd
					div#main
		li
			dl
				dt 1.单选框样式
				dd
					div#main1
		li
			dl
				dt 1.问卷回答text文本
				dd.disline
					p 11111111
	script(src='/javascripts/mui.min.js')
	script(src='/javascripts/jquery.js')
	script(src='/javascripts/echarts.common.min.js')
	script(src='/javascripts/result.js')
