doctype html
html
	head
		title 问卷调查
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
		link(href="/stylesheets/mui.css" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="/stylesheets/index.css")
	body.bac.backs
		block content
