@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
	margin:0;
	padding:0;
}
*{ font-family:"微软雅黑"}
/*-----------------*/
p{
	cursor:default;}
h1,h2,h3,h4,h5,h6{
	cursor:default;
	font-size:100%;
	font-weight:normal;}
img{ margin:0; padding:0}
/*-----------------*/
input[type="submit"],input[type="button"]{
	cursor:pointer;}
ul, ol {
	list-style:none;}
/*-----------------*/
address, caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;}
/*-----------------*/
table {
	border-collapse:collapse;
	border-spacing:0;}
/*-----------------*/
fieldset, img {
	border:0;}
/*-----------------*/
caption,th {
	text-align:left;}
/*-----------------*/
q:before, q:after {
	content:'';}
/*-----------------*/
a {
	text-decoration:none;
	color:#FFF;}
a:hover {
	text-decoration:none;}

*:focus{
	outline:none;}	
html,body{
	height:100%;}
	
/*------------------- index start--------------------*/
.bac{
	background-color: #FFFFFF;
	background-size:cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.bacs{
	background-image: url(../img/setup00.png) !important;
}
.back{
	background-image: url(../img/setup001.png) !important;
}
.backs{
	background-image: url(../img/setdown.png) !important;
	background-size:100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.bac>h2{
	width: 80%;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 16px;
	text-align: center;
}
.bac>h2 b{
	display: block;
	padding-bottom: 10px;
	width: 100%;
	font-weight: lighter !important;
	font-size: 20px;
	line-height: 28px; 
	color: #DD524D;
	border-bottom: #DD524D solid 1px;
}

.bac ul{
	width:80%;
	height: 470px;
	overflow: auto;
	margin: 0 auto;
	padding: 14px 0px 0px 0px;
}
.bac ul li{
	margin-bottom: 12px;
}
.bac ul li dl dt{
	font-size: 18px;
	margin-bottom: 8px;
	padding-bottom: 8px;
	box-sizing: border-box;
	border-bottom: #EFEFF4 solid 1px;
}
.bac ul li dl dd div label{
	margin-top: -2px;
	font-size: 14px;
	color: #797979;
}
.bac button{
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 18px;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
}
.disline p{
	background-color:#979797;
	border-bottom:#fff solid 1px;
	margin-bottom:6px;
	padding:6px;
	color:#FFFFFF;
	box-sizing:border-box;}
.bac ul>h2{
    font-size:20px;
	padding:8px;
	width:100%;
	color:#FFFFFF;
	background-color:rgba(158,65,67,1.00);
	margin-bottom:12px;
}
.bac ul>p{
    font-size:16px;
	padding: 4px 8px;
	width:100%;
	color:#FFFFFF;
	background-color:rgba(119,119,119,1.00);
	margin-bottom:12px;
}
.phonecall{
			width:100%;
			height:100% !important;
			background-color:rgba(0,0,0,0.6);
			position:fixed;
			top:0px;
			z-index:99999999999999999999999;
			display:none;
		}
.phonecall ul{
	width: 80%;
	height: 140px;
	position: absolute;
	left: 0;
	right: 0;
	top: -60px;
	bottom: 0;
	margin: auto;
	z-index: 999999999999999999999999;
	background-color: #FFFFFF;
	border-radius: 12px;
	overflow: hidden;
	padding: 0 !important;
}
.phonecall ul li{
	height: 100px;
	width: 100%;
	border-bottom: #F0F0F0 solid 1px;
	margin-bottom: 0;
}
.phonecall ul li p{
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	background-color:#F0F0F0;
	color: #000000;
}
.phonecall ul li p+p{
	padding:8px;
	height: 60px;
	text-align: left;
	line-height: 24px;
	font-size: 16px;
	border: none;
	color: #929292;
	background-color: transparent;
}
.phonecall ul li+li{
	height: 40px;
	border: none !important;
}
.phonecall ul li a{
	width: 100%;
	display: block;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #B84145;
}
















































































































